.bundle
.bundle/*
db/*.sqlite3
log/*.log
tmp/*
tmp/**/*
doc/api
doc/app
*.swp
*~
.idea
.idea/*
.DS_Store
.sass-cache/*
vendor/ruby
*node_modules*
*.DS_Store
canjs-app/bower_components
canjs-app/style/imports.less
canjs-app/style/dev.css
canjs-app/style/app.css
bower_components
npm-debug.log