.bit-feed {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
}
.bit-container {
 display: inline-block;
 padding:  1rem;
 width:  100%;
 .animated;
 .zoomIn;
}
// Default "Clear" Theme
.bit {
  .border-radius(10px);
  background-color: @white;
  border: 1px solid @gray-lighter;
  overflow: hidden;
  &:extend(.b_margin--lowVert all);
  .clearfix;
  .box-shadow(0 0 20px rgba(0,0,0,0));
  &:hover {
    .box-shadow(0 0 20px rgba(0,0,0,.15));
  }
  // header
  .bit-header,
  .bit-footer {
    padding: 10px 0;
    .clearfix
  }
  .bit-avatar {
    .bit-avatar--img {
      border-radius: 50%;
    }
  }
  .bh-icon {
    font-size: 1.5em;
    padding-right:10px;
    &:hover {
      text-decoration: none;
    }
  }
  .bh-icon-twitter {
    color: #55acee;
  }
  .bh-icon-youtube {
    color: #cc181e;
  }
  .bh-icon-facebook {
    color: #3b5998;
  }
  .bh-icon-instagram {
    color: #3f729b;
  }
  .bh-icon-flickr {
    color: #FF0084;
  }
  .bh-icon-googleplus {
    color: #d73d32;
  }
  .bh-icon-tumblr {
    color: #2d4661;
  }
  .share-fb {
    width: 70px;
  }
  .share-tw {
    width: 76px;
    margin-right:20px;
  }
  // Content
  .bit-content--media {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .img-responsive {
    margin:0 auto;
  }
}
// In the inspector, apply the wrapper class to the body to see the design variations.
// This will need to be cleaned up or implemented differently later.

// Bitovi Style w/ Borders
.theme-2 {
  .bit {
    .bit-header {
      border-bottom: 1px solid @gray-lighter;
    }
    .bit-footer {
      border-top: 1px solid @gray-lighter;
    } 
  }
}
// Bitovi Style with Gray header and footer
.theme-3 {
  .bit {
    border: 1px solid @gray-light;
    &:hover {
      .box-shadow(0 0 20px rgba(0,0,0,.3));
    }
    // Content 
    .bit-content {
      &:extend(.b_padding--lowVert all);
    }
    .bit-header,
    .bit-footer {
      background-color: #f0f0f0;
    }
    .bit-header {
      border-bottom: 1px solid @gray-light;
    }
    .bit-footer {
      border-top: 1px solid @gray-light;
    } 
  }
}
// BitHub Style Theme
.theme-4 {
  .bit {
    border: 1px solid #f0f0f0;
    &:hover {
      .box-shadow(0 0 20px rgba(73,149,187,.5));
      border: 1px solid @white;
    }
    // Content 
    .bit-content {
      &:extend(.b_padding--lowVert all);
    }
    .bit-header,
    .bit-footer {
      background-color: #71bee5;
    }
    .bit-header {
      .bit-avatar {
        .bit-avatar--img {
          border: 2px solid @white
        }
      }
    }
    .bit-header,
    .bit-header a,
    .bh-icon-twitter,
    .bh-icon-youtube,
    .bh-icon-facebook,
    .bh-icon-instagram,
    .bh-icon-flickr,
    .bh-icon-googleplus,
    .bh-icon-tumblr {
      color: @white;
    } 
  }
}
// Dark Colors 
.theme-5 {
  .bit {
    border: 1px solid @gray-darker;
    &:hover {
      .box-shadow(0 0 20px rgba(0,0,0,.3));
      border: 1px solid @white;
    }   
    // Content 
    .bit-content {
      &:extend(.b_padding--lowVert all);
    }
    .bit-header,
    .bit-footer {
      background-color: @gray-dark;
    }
    .bit-header {
      .bit-avatar {
        .bit-avatar--img {
          border: 2px solid @white
        }
      }
    }
    .bit-header,
    .bit-header a,
    .bh-icon-twitter,
    .bh-icon-youtube,
    .bh-icon-facebook,
    .bh-icon-instagram,
    .bh-icon-flickr,
    .bh-icon-googleplus,
    .bh-icon-tumblr {
      color: @white;
    } 
  }
}

@media (min-width: @screen-sm) {
  .bit-feed {
   -moz-column-width: 20em;
   -webkit-column-width: 20em;
  }
}
@media (min-width: @screen-md) {
  .bit-feed {
   -moz-column-width: 25em;
   -webkit-column-width: 25em;
  }
}
@media (min-width: @screen-lg) {
  .bit-feed {
   -moz-column-width: 30em;
   -webkit-column-width: 30em;
  }
}
